# General 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.DS_Store

#Rust / Actix-web speicific
Cargo.lock
backend/target

#React specific
frontend/node_modules
